.not-found {
  margin-top: 300px;
  cursor: pointer;

  & > h1 {
    font-family: Ubuntu, "sans-serif";
    font-size: 80px;
    text-align: center;

    & > span {
      font-family: Raleway, sans-serif;
      color: red;
      font-size: 100px;
    }
  }

  & > p {
    text-align: center;
    margin-top: 50px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
  }
}
