<div class="side-bar">
  <div routerLink="/forum" routerLinkActive="active-link">Home</div>
  <div routerLink="/user" routerLinkActive="active-link" id="myposts">
    My Posts
  </div>
  <div routerLink="/sports" routerLinkActive="active-link">Sports</div>
  <div routerLink="/history" routerLinkActive="active-link">History</div>
  <div routerLink="/programming" routerLinkActive="active-link">
    Programming
  </div>
  <div routerLink="/medicine" routerLinkActive="active-link">Medicine</div>
  <div routerLink="/other" routerLinkActive="active-link" id="other">Other</div>
  <div
    (click)="loginService.isLoggedIn = false; loginService.username.next('')"
    routerLink="/"
    id="logout"
  >
    Log Out
  </div>
</div>
