.newsFeedPosts {
  width: 1000px;
  border-radius: 15px;
  margin: auto;

  & .news-header {
    width: 100%;
    background: #38383f;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    & > p {
      font-family: "Raleway", sans-serif;
      font-size: 20px;
      cursor: pointer;
      border-bottom: solid red 2px;
    }
  }

  & .post-item {
    margin: 20px auto;
    width: 90%;
    background: #161e2e;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    & .username {
      font-family: Ubuntu, "sans-serif";
      font-size: 17px;
      text-align: right;
      padding: 5px 15px;
      cursor: pointer;
    }

    & .title {
      font-family: Raleway, "sans-serif";
      font-size: 25px;
      color: #ff7b72;
      text-align: center;
      margin-bottom: 20px;
    }

    & .post {
      text-align: left;
      font-size: 18px;
      padding-left: 10px;
      color: #a5d6ff;
      font-family: Raleway, "sans-serif";
      margin-bottom: 30px;
    }

    & .footer {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      width: 90%;
      justify-content: space-around;
      margin-bottom: 10px;
      font-family: "Raleway", sans-serif;

      & > a {
        text-decoration: none;
        color: white;
        font-size: 17px;
        font-family: Ubuntu, sans-serif;
        cursor: pointer;

        &:hover {
          border-bottom: solid red 2px;
        }
      }

      & button {
        width: 60px;
        background: none;
        color: white;
        border: none;
        font-family: "Ubuntu", sans-serif;
        border-bottom: solid pink 2px;
        cursor: pointer;
        margin-right: 10px;
      }
    }
  }
}

.post-form {
  & > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Raleway, "sans-serif";
    font-size: 17px;
    margin-bottom: 50px;
    row-gap: 25px;

    & > a {
      font-family: "Raleway", sans-serif;
      font-size: 14px;
      color: white;
      padding-bottom: 5px;
      cursor: pointer;
      &:hover {
        border-bottom: solid red 2px;
      }
    }

    & .askBtn {
      background: #e10600;
      border-radius: 10px;
      width: 100px;
      height: 35px;
      border: none;
      color: white;
      cursor: pointer;
      font-family: Raleway, "sans-serif";

      &:hover {
        background: #fb2a26;
      }
    }

    & input {
      width: 190px;
      height: 40px;
      border-radius: 7px;
      padding-left: 10px;
      margin-top: 7px;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid #252f3f;
    }

    & textarea {
      border-radius: 10px;
      padding-left: 10px;
      font-family: Raleway, "sans-serif";
      font-size: 17px;
      resize: none;
      border: none;
      border-bottom: solid #252f3f 2px;
    }

    & select {
      background: white;
      border: none;
      border-bottom: #161b22 solid 2px;
      border-radius: 10px;
      font-family: Raleway, "sans-serif";
      width: 160px;
      height: 30px;
      padding: 0 8px;
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 1391px) {
  .newsFeedPosts {
    width: 700px;
  }
}

@media screen and (max-width: 809px) {
  .news-header {
    width: 70%;
  }
  .newsFeedPosts {
    width: 700px;
  }
}

@media screen and (max-width: 713px) {
  .post-form {
    width: 300px;
  }
  .post-container {
    width: 300px;
  }
  .news-header {
    width: 320px;
  }
  .newsFeedPosts {
    width: 350px;
  }
}
