<app-sidebar></app-sidebar>
<app-userinfo></app-userinfo>
<div class="news-feed">
  <div class="post-container">
    <a (click)="question=true" *ngIf="!question">Add new Post.</a>
    <div class="post-form" *ngIf="question">
        <form [formGroup]="postForm">
          <label>
            <input formControlName="title" type="text" placeholder="Title">
          </label>
          <label>
            <textarea formControlName="post" type="text" placeholder="What on your mind?"  cols="50" rows="3"></textarea>
          </label>
          <label>
            <select formControlName="category">
              <option value="sports" selected>Sports</option>
              <option value="medicine">Medicine</option>
              <option value="history">History</option>
              <option value="programming">Programming</option>
              <option value="other">Other</option>
            </select>
          </label>
          <button class="askBtn" type="button" (click)="addPost(postForm.get('category')?.value)">ADD POST</button>
          <a (click)="question=false">Close</a>
        </form>
    </div>
    <div class="newsFeedPosts">
      <div class="news-header">
        <p>News Feed</p>
      </div>
        <div *ngFor="let post of posts$ | async">
          <div class="post-item">
            <div class="username">{{post.username}}</div>
            <div class="title">{{ post.title }}</div>
            <div class="post">{{ post.post }}</div>
            <div class="footer">
              <div class="click">Clicked {{post.clicks}} times</div>
              <a>See Full Discussion</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
