* {
  box-sizing: border-box;
}
.news-feed {
  width: 100%;
  margin: auto;
  display: flex;
  padding-top: 50px;
  & .post-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .post-form {
      width: 600px;
      height: 320px;
      box-shadow: 5px 5px 5px 5px gray;
      border: solid lightgrey 1px;
      border-radius: 15px;
      margin: 20px auto;
      background: #292f33;
    }

    &>a {
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      color: black;
      padding-bottom: 5px;
      cursor: pointer;
      margin-bottom: 20px;
      text-align: center;
      &:hover {
        border-bottom: solid red 2px;
      }
    }
  }
}

