* {
  box-sizing: border-box;
}

.news-feed {
  width: 1100px;
  margin: auto;
  display: flex;
  padding-top: 50px;


  & .post-container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>a {
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      color: black;
      padding-bottom: 5px;
      cursor: pointer;
      margin-bottom: 20px;
      text-align: center;
      &:hover {
        border-bottom: solid red 2px;
      }
    }

    & .post-form {
      padding-top: 10px;
      width: 600px;
      height: 340px;
      border: solid lightgrey 1px;
      border-radius: 15px;
      box-shadow: 5px 5px 5px 5px #f1f1f1;
      margin-bottom: 50px;
      background: #292f33;

      & > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Raleway, 'sans-serif';
        font-size: 17px;
        margin-bottom: 50px;
        row-gap: 25px;

        &>a {
          font-family: 'Raleway', sans-serif;
          font-size: 14px;
          color: white;
          padding-bottom: 5px;
          cursor: pointer;
          &:hover {
            border-bottom: solid red 2px;
          }
        }

        & .askBtn {
          background: #e10600;
          border-radius: 10px;
          width: 100px;
          height: 35px;
          border: none;
          color: white;
          cursor: pointer;
          font-family: Raleway, 'sans-serif';

          &:hover {
            background: #fb2a26;
          }
        }

        & input {
          width: 190px;
          height: 40px;
          border-radius: 7px;
          padding-left: 10px;
          margin-top: 7px;
          box-sizing: border-box;
          border: none;
          border-bottom: 2px solid #252f3f;
        }

        & textarea {
          border-radius: 10px;
          padding-left: 10px;
          font-family: Raleway, 'sans-serif';
          font-size: 17px;
          resize: none;
          border: none;
          border-bottom: solid #252f3f 2px;
        }

        & select {
          background: white;
          border: none;
          border-bottom: #161b22 solid 2px;
          border-radius: 10px;
          font-family: Raleway, 'sans-serif';
          width: 160px;
          height: 30px;
          padding: 0 8px;
          font-size: 17px;
      }
      }
    }
  }
}

.newsFeedPosts {
  width: 100%;
  border-radius: 15px;

  & .news-header {
    width: 100%;
    background: #38383f;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    & > p {
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      cursor: pointer;
      border-bottom: solid red 2px;
    }
  }

  & .post-item {
    margin: 20px auto;
    width: 800px;
    background: #161e2e;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    & .username {
      font-family: Ubuntu, 'sans-serif';
      font-size: 17px;
      text-align: right;
      padding: 5px 15px;
    }

    & .title {
      font-family: Raleway, 'sans-serif';
      font-size: 25px;
      color: #ff7b72;
      text-align: center;
      margin-bottom: 20px;
    }

    & .post {
      text-align: left;
      font-size: 18px;
      padding-left: 10px;
      color: #a5d6ff;
      font-family: Raleway, 'sans-serif';
      margin-bottom: 30px;
    }

    & .footer {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      width: 790px;
      justify-content: space-around;
      margin-bottom: 10px;
      font-family: 'Raleway', sans-serif;
    }
  }
}
