.post-form {
  padding-top: 10px;
  width: 400px;
  height: 370px;
  border: solid lightgrey 1px;
  border-radius: 15px;
  margin: 20px auto;
  background: #292f33;
  position: fixed;
  bottom: 10px;
  right: 20px;
}
